/* style.css */
body, html { 
    font-family: "LINE Seed JP";
    font-weight: 400;
    font-style: normal;
    min-height: 200vh;  
    padding: 0; 
    margin: 0; 
    display: flex; 
    flex-direction: column; 

}

.main-background{ 
    background-position: -15px -25px; 
    background-color: #efefef; 
    background-image: url(../image/bg_image1.png); 
    background-repeat: repeat; 
    background-origin: border-box; 
    background-size: 52px, 52px; 
}

.main-header{ 
    position: fixed; 
    top: 0; 
    width: 100%; 
    height: 60px; 
    /* padding-bottom: 5px;  */
    background-color: transparent; 
    z-index: 100; 
} 

.main-pages{ 
    display: flex;
    height: calc(100vh - 60px); 
    width: 100%; 
    margin-top: 60px; 
    overflow: hidden; 
    
}

.iroha-container{ 
    display: flex; 
    position: relative;
    width: 100%; 
    height: 100%;
    padding: 0; 
    margin: 0; 
}

.iroha-container img{ 
    position: absolute; 
    width: 75%; 
    margin-left: -13%; 
    margin-top: -10%; 
} 

.iroha-container-content{  
    align-self: center; 
    margin-left: 55%; 
    display: flex; 
    flex-direction: column; 
    font-size: 2rem; 
    margin-bottom: 10%; 
} 

.main-title{ 
    color: #3290b2; 
    margin: 0; 
} 

.main-sub-box{ 
    display: flex; 
    margin: 0; 
}

.main-subtitle{ 
    margin: 0; 
    color: #3290b2; 
} 

.main-name{ 
    margin: 0; 
    margin-left: 3%; 
    background-color: #3290b2; 
    color: white; 
} 

.main-content{ 
    flex: 1; 

}

.footer-container{ 
    width: 100%; 

}

.footer-container-img{ 
    width: 100%; 
    height: 110px; 
    margin-bottom: -5px;
    background-image: url(../image/footer_design.svg);
}

.footer{ 
    bottom: 0; 
    width: 100%; 
    height: 435px; 
    background-color: #282828;  
    
} 
