<div class="footer-container"> 
    <div class="footer-container-img"></div>
    <footer class="footer">
        <% if (theme.sidebar === 'bottom'){ %>
            <%- partial('sidebar') %>
        <% } %>
        <div class="outer">
            <div id="footer-info" class="inner">
                &copy; <%= date(new Date(), 'YYYY') %> <%= config.author %><br> 

            </div>
        </div>
    </footer>
</div>